


<header class="navbar">
    
    <div class="container">
        <div class="logo">
            <p class="logo">Focus Web</p>
            <!-- <a href="/home" class="navbar-logo">Focus WEB</a> -->
        </div>
        <div class="menu">
            <nav>
              <!-- <li><a>Buscar</a><input type="search" name="busqueda" [formControl]="search" ></li> -->
              <li><a href="/publish">Inicio</a></li>
              <li><a href="/publish">Publicar</a></li>
              <li><a href="/profile">Perfil</a></li>
            </nav>
        </div>
        <div class="menu-bottom">
            <nav>
                <li><a href="/profile">usuario</a></li>
                <img src="" alt="">
                <li><a href="/inicio">Cerrar sesión</a></li>
            </nav>
        </div>
    </div>
  </header>