.navbar {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.container {
    display: flex;
    flex-direction: column;
    width: 200px;  
    height: 90vh;
    /* background-color: whitesmoke; */
    position: sticky;
}


.logo p{
    margin-top: 40px;
    font-size: 25px;
    color: #79d300;
    text-align: center;
    user-select: none;
}

.nav{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;

}

.menu ul a{
    text-decoration: none;
    color: black;
    list-style: none;
    line-height: 30px;
    padding-left: 0px;
    font-size: 16px;
    
    
}

.menu ul {
    padding-left: 0px;
}

.menu, .menu-bottom{
    text-align: center;

}

.menu-bottom ul a{
    line-height: 30px;
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 16px;
  


}

.menu ul a:hover {
    color: #79d300;
}
.menu-bottom ul a:hover {
    color: #79d300;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 50%;
  }

  .menu-bottom nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }