<body>
    <div class="container">
      <h1>Terminos y condiciones</h1>
      <p>Términos y Condiciones para la Creación de Cuentas y Publicación de Documentos
        <br> <br> 
        Bienvenido a nuestro servicio de publicación de documentos. Por favor, lea cuidadosamente estos Términos y Condiciones antes de crear una cuenta y utilizar nuestros servicios. Al crear una cuenta, usted acepta estar sujeto a estos términos y condiciones.
        <br> <br> 
        1. Creación de Cuenta a. Para crear una cuenta, debe tener al menos 18 años de edad o contar con el consentimiento de sus padres o tutores legales. b. Al crear una cuenta, debe proporcionar información precisa y completa sobre usted mismo. No está permitido utilizar nombres falsos o información engañosa. c. Usted es el único responsable de mantener la seguridad de su cuenta y contraseña. No compartiremos su información de inicio de sesión con terceros y no somos responsables de cualquier pérdida o daño que pueda resultar del uso no autorizado de su cuenta.
        <br> <br> 
        2. Publicación de Documentos a. Usted es el único responsable del contenido de los documentos que publique en nuestro servicio. b. No se permite publicar documentos que infrinjan los derechos de autor, la propiedad intelectual o cualquier otro derecho legal de terceros. c. Usted acepta no publicar documentos que contengan contenido ilegal, ofensivo, difamatorio o que viole cualquier ley aplicable. d. Nos reservamos el derecho de eliminar cualquier documento que consideremos inapropiado o que infrinja estos Términos y Condiciones.
        <br> <br> 
        3. Propiedad Intelectual a. Usted retiene todos los derechos de propiedad intelectual sobre los documentos que publique en nuestro servicio. b. Al publicar un documento, usted nos otorga una licencia no exclusiva, transferible, sublicenciable, libre de regalías y mundial para utilizar, reproducir, distribuir, preparar trabajos derivados, mostrar públicamente y realizar públicamente el documento en relación con nuestros servicios. c. Usted garantiza que tiene todos los derechos necesarios para otorgarnos la licencia descrita en este apartado.
        <br> <br> 
        4. Modificaciones de los Términos y Condiciones Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Si realizamos cambios materiales, le notificaremos mediante el envío de un correo electrónico a la dirección de correo electrónico asociada con su cuenta. El uso continuado de nuestros servicios después de la notificación de los cambios indica su aceptación de los nuevos términos y condiciones.
        <br> <br> 
        5. Resolución del Acuerdo Usted puede rescindir este acuerdo en cualquier momento cerrando su cuenta. Nos reservamos el derecho de rescindir este acuerdo o de suspender o cerrar su cuenta si viola estos Términos y Condiciones.
        <br> <br> 
        6. Ley Aplicable Estos Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes del lugar donde se encuentra nuestra sede principal.
        <br> <br> 
        Si usted no acepta todos los términos y condiciones de este sitio web, no podra realizar el registro satisfactoriamente.</p>
    </div>
  </body>
  <!-- <p>terminos-condiciones works!</p> -->
