h1{
    text-align: center;
    margin: 20px;
    color: #79d300;
}
form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* <!--1️⃣ code CSS below --> */


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{
width: 100%;
margin: 8px;
font-size: 14px;
color: #fff;
background-color: #79d300;
padding: 10px 33px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 8px;
transition : 236ms;
transform: translateY(0);
flex-direction: row;
cursor: pointer;
text-align: center;
}

.btn:hover{

transition : 236ms;
padding: 10px 38px;
transform : translateY(-0px);
background-color: #fff;
color: #79d300;
border: solid 1px #79d300;
}
input,textarea{
    width: 100%;
}



body{
    font-family: 'Courier New', Courier, monospace;
}

label{
  margin-bottom: 12px;
}

.document_up{
  align-self: center;
}

input{
  border: solid 1px #ddd;
  border-radius: 5px;
  height: 30px;
}

textarea{
  border: solid 1px #ddd;
  border-radius: 5px;
}