<div class="body">
  <app-nav-bar-vert></app-nav-bar-vert>
<div class="profile">
  <div class="profile-info">
    <div class="profile-picture">
      <img src="{{ user.profilePicture }}" alt="Foto de perfil" (click)="openFilePicker()">
      <div class="profile-picture-button">
        <label class="file-label">
          <input type="file" class="file-input photo-buttom" (change)="onFileSelected($event)" accept="image/*">
          <span class="file-button">Cambiar</span>
        </label>
      </div>
    </div>
  </div>
  <div class="profile-details">
      <h2>{{ user.fullname}}</h2>
      <p>Correo: {{ user.email }}</p>
      <p>Fecha de nacimiento: {{ user.dateOfBirth }}</p>
    </div>
    <div class="bio">
      <h3>Biografía:</h3>
      <p *ngIf="!showForm">{{ user.biography }}</p>
      <button class="bio-buttom" *ngIf="!showForm" (click)="showEditForm()">Editar biografía</button>
      <div *ngIf="showForm">
        <form (ngSubmit)="saveBiography()">
          <textarea [(ngModel)]="editedBiography" name="biography"></textarea>
          <div>
            <button type="submit" class="bio-buttom">Guardar</button>
            <button type="submit" class="bio-buttom" (click)="showForm = true">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  <div class="user-wall">
    <div class="posts">
      <h3>Posts publicados:</h3>
      <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div>
  </div>
</div>
