
<!-- <div class="post" *ngIf="post">
    <h2>{{ post.title }}</h2>
    <p class="post_description"><b>Autor</b></p>
    <p class="post_description_text">{{ post.autor }}</p>
    <p class="post_description"><b>Descripción</b></p>
    <p class="post_description_text">{{ post.description }}</p>
    <p class="post_description"><b>Conoce este artículo</b></p>
    <a href="{{ post.document }}" target="_blank">Descargar documento</a>
  </div> -->


  <div class="post" *ngIf="post">
    <h2 class="post-title">{{ post.title }}</h2>
    
    <p class="post-description">{{ post.description }}</p>
    <p class="post-author">Autor: {{ post.autor }}</p>
    <a class="download-button" href="{{ post.document }}" target="_blank" download>Descarga este artículo haciendo clic.</a>
    <button *ngIf="myPost" (click)="deletePost()">Borrar</button>
    <div class="comments">
      <textarea class="comment-box" placeholder="Escribe un comentario" [(ngModel)]="commentText"></textarea>
      <button class="comment-button" (click)="saveComment()">Comentar</button>
      <div class="comment-list">
        <h3>Comentarios:</h3>
        <div *ngFor="let comment of post.comments" class="comment">
          <p>{{ comment.comment }}</p>
          <p class="post-author">Autor: {{ comment.user }}</p>
        </div>
      </div>
    </div>
    <div class="likes">
      <button><img [src]="likeImageSrc" [alt]="'Me gusta'" (click)="hasLiked ? unlikePost() : likePost()" />
      </button>
      <span class="like-count">{{post.likes}}</span>
    </div>
  </div>