/*.post{
    border: solid 1px;
    margin-bottom: 12px;
    padding: 24px;
    margin: 8px 18px 20px 18px;
    

}

.post h2{
    color: #79d300;

}

.post_description_text{
    text-align:justify;
}
.post p{
    font-size: 14px;

}
.post_description{
    font-size: 15px;
}*/


.post {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .post-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .post-description {
    margin-bottom: 10px;
  }
  
  .post-author {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .download-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .comments {
    margin-bottom: 10px;
  }
  
  .comment-box {
    width: 100%;
    height: 100px;
    resize: vertical;
    padding: 5px;
  }
  
  .comment-button {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .likes {
    display: flex;
    align-items: center;
  }
  
  .like-button {
    color: transparent;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .like-count {
    font-weight: bold;
  }

  img {
    max-width: 25px;
  }

  .comment-list {
    margin-top: 20px;
  }
  
  .comment {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .comment p {
    margin: 0;
  }
  
  .comment p:first-child {
    font-weight: bold;
  }
  
  .comment p:last-child {
    color: #888;
    font-size: 0.9em;
  }
